body {
    background-color: rgb(77, 241, 228);
}

h1{
    color: rgba(129, 10, 241, 0.644);
}

.linksprimero li a{
color: rgb(204, 60, 16);
}

a:hover {
    color: rgb(252, 0, 197);
    background-color: rgb(238, 241, 4);

}

#tabla{
background-color: rgba(179, 255, 0, 0.616);
border-color: blue;
border-radius: 1em;
}

.formulario {
    background-color: rgba(0, 255, 64, 0.623);
    border-radius: 1em;
    padding: 1em;
}

#linkperfsoc {
    background-color: rgba(198, 226, 43, 0.897);
    border-radius: 1.5em;
    padding: 0,5em;
}

.titulo {
border-radius: 1em;
border-style: double;
border-color: blanchedalmond;
padding: 0.3em;

}


#fotaza {
    border: 0.2em;
    border-style: dashed ;
    border-color: rgb(126, 2, 243);
}

.intro {
    display: inline-block;
    padding: 1em;
}